<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fibonacci calculator</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div class="container top-container">

    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <h1>Fibonacci calculator</h1>

            <form th:action="@{/fibonacci-calculator}" th:object="${fibonacciResult}" method="post">

                <div class="alert alert-danger" th:if="${#fields.hasErrors('number')}" th:errors="*{number}">
                    Number error
                </div>

                <div class="form-group">
                    <input type="number" min="0" max="92"
                           class="form-control input-lg" required="true" autofocus="true"
                           th:field="*{number}"/>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-primary">Calculate</button>
                </div>

            </form>

            <div th:if="${fibonacciResult.result != null}">
                <h2>Result</h2>
                <ul class="list-unstyled">
                    <li th:each="item : ${fibonacciResult.result}" th:text="${item}"></li>
                </ul>
            </div>

        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>